body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional: background color */
}

.content-wrapper {
    text-align: center;
}

.center-text {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px; /* Adds space between text and button */
}

.blue {
    color: #0000FF; /* Blue color */
}

.orange {
    color: #FFA500; /* Orange color */
}

.center-button {
    margin-top: 20px; /* Adds space between text and button */
}

.connect-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #0000FF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.shop-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #FFA500;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.connect-button:hover {
    background-color: #0056b3;
}

.shop-button:hover {
    background-color: #0056b3;
}
